<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot_name" default="sr_robot"/>
  <arg name="map_name" default="willow"/>

  <group ns="$(arg robot_name)">
    

    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find sr_navigation)/map/$(arg map_name)/map.yaml"/>

    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <rosparam command="load" file="$(find sr_navigation)/cfg/amcl.yaml" subst_value="true" />
        <remap from="scan" to="laser/scan"/>
    </node>

  </group>

</launch>
