<launch>

  <arg name="robot_name" default="sr_robot" />

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="world" default="empty.world"/>
  <arg name="load_physics_param" default="true"/>
  <arg name="clock_frequency" default="false"/>
  
  <arg name="rate" default="20.0"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <include file="$(find sr_gazebo)/launch/world.launch" pass_all_args="true"/>

  <include file="$(find sr_gazebo)/launch/sr_robot.launch" pass_all_args="true"/>

</launch>
