<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="robot_name" default="sr_robot" />
    <arg name="map_name" default="willow"/>

    <group ns="$(arg robot_name)">



        <node name="locomotor" pkg="locomove_base" type="move_base" output="screen">        
            <rosparam command="load" file="$(find sr_locomotor)/cfg/locomotor.yaml" subst_value="true"/>
        </node>
    </group> 
</launch>